.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
  margin: 20px;
}

.question-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li.selected {
  background-color: tomato;
}

li.correct {
  background-color: lightgreen;
}

li.incorrect {
  background-color: tomato;
}

.button-container {
  margin-top: 10px;
}

.result {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: green;
}

.image-class {
  width: 35%;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-flip 2s ease-in-out infinite;
  }
}

.App-header {
  background-color: #1f1147;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-flip {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(180deg);
  }
}

h1{
  color: #6949FD;
}

.grouped-text {
  margin-top: 0px;
  margin-bottom: 50px;
}



button {
  font-size: inherit; /* Inherit font size from parent (should match h3) */
  border-radius: 15px; /* Adjust the radius to control the curve */
  background-color: #6949fd;
  border-color: #1f1147;
  box-shadow: none;
  color: white ;
  padding: 15px 20px; /* Add padding for better button appearance */
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
  width: 250px;
}

.header-text {
  margin-top: 0;
  margin-bottom: 0px; /* Adjust the margin as needed */
}

.button-container {
  margin-top: 50px; /* Adjust the margin as needed */
}
